<div class="header-top">
  <div class="container">
    <div class="header-social">
      <a href="https://www.google.com" target="_blank"><i class="fa fa-pinterest"></i></a>
      <a href="https://www.google.com" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="https://www.google.com" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="https://www.google.com" target="_blank"><i class="fa fa-dribbble"></i></a>
      <a href="https://www.google.com" target="_blank"><i class="fa fa-behance"></i></a>
      <a href="https://www.google.com" target="_blank"><i class="fa fa-linkedin"></i></a>
    </div>
    <div class="user-panel">
      <ul class="user-buttons">
        <li><a class="btn" <%= link_to "Postar Receita", new_recipe_path %></a></li>
        <li><a class="btn" <%= link_to "Logout", destroy_user_session_path, method: :delete %></a></li>
      </ul>
    </div>
  </div>
</div>
